html{
    font-size: 16px;
    font-family: open sans;
  }

  .skiptomain{
    position: absolute;
    left: -120px;
  }
  .skiptomain:focus{
    position: static;
    width: auto;
    height: auto;
  }
  .container{
    background-image: url("../images/bigbg.jpg");
        }

img {
    width: 20%;
    height: auto;
  }
  .logo1{
    max-width: 150px;
  }
  .animation2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  footer{
    max-width: 220px;
    margin:0 auto;
    background-color: #fa4a0c;
  }
  .material-symbols-outlined{
    opacity:0;
  }

  /* ****************   add another animation ****************** */
  

  @keyframes jumping{
    0%{
      transform:scale(0.6) rotate(0)
    }
    50%{ 
      transform:scale(2.5) rotate(360deg)
    }
    90%{
      transform: translateY(50PX) scale(3)
    }
   }
  
  #questionmark{
    animation-name:jumping;
    animation-duration: 3s;
    /* animation-iteration-count: infinite; */
    animation-timing-function: ease-in-out;
    animation-delay: 1s;
  }
  