/* ********************** start mobile  ******************** */
html{
    font-size: 16px;
    font-family: open sans;
}

.skiptomain{
    position: absolute;
    left: -120px;
}
.skiptomain:active{
    position:static
    }


img {
    width: 100%;
    height: auto;
}

a{
    text-decoration:none;
    text-align: center;
    color:black;
}

.thnomenu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.nav{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo1{
    max-width: 150px;
}

.menu{
    position:absolute;
    top: -20px;
}

.floatedtext{
    padding: 10px;
    color: black;
}
 .banner h3{
    color: grey;
}
h1,h3,h2,p{
    text-align: center;
}
p{
    color: grey;
}

/* .container{
    max-width: 900px;
    margin:0 auto;
} */
.btn1{
    padding: 16px 0px 16px 0px;
    margin: 20px;
    height: 68px;
    width:236px;
    background-color:#fa4a0c;
    border-radius: 30px;
    color: white;
    
}
.btn2{
    padding: 16px 0px 16px 0px;
    margin: 20px;
    height: 68px;
    width:236px;
    color:#fa4a0c;
    border-radius: 30px;
    background-color:transparent;
    border: 0.5px solid #fa4a0c;
}

.floatedimg,.btns{
    display: flex;
    justify-content: center;
}

.btns{
    display: flex;
    flex-direction: column;
    align-items: center;
}


#L{
    width: 400px;
    height: 651px;
    margin-right: -160px;
    margin-top:-100px;
}
#R{
    width: 219px;
    height: 408px;
    margin-left: 0px;
    margin-top:30px;
}
h3{
    color:#fa4a0c;
}

.btn3{
    padding: 18px 31px 18px 31px;
    margin: 20px;
    height: 64px;
    width: 137px;
    background-color:#fa4a0c;
    border-radius: 10px;
    color: white;
    border:none;
}
.btn4{
    padding: 16px 0px 16px 0px;
    margin: 20px;
    height: 68px;
    width:236px;
    border-radius: 10px;
    background-color: #252b42;
    color: white;
    border: 0.5px solid white;
}
.dld{
    background-color: #252b42;
    color: white;
   
    background-size: cover; 
    background-position: center; 
}
.footer1{
    display: flex;
    flex-direction: row;
    padding:20px 100px;
}
span{
    display: block;
}
.footer2{
    text-align: center;
}

/* **************************       start desktop           *************************** */

@media screen and (min-width: 769px) {
   
   .banner{
    background-image: url("../images/bigbg.jpg");
        }
    .dld{
        background-image:url("../images/end-img.jpg");
    }
.banner{
   padding: 100px;

}



    h1,.banner h3{
        color:white;
    }
    .btns{
        display: flex;
        flex-direction: row;
        justify-content: center;  
    }
    .floatedimg{
        margin-top: -100px;
    }

    .menu{
        position:relative; 
    }
    .material-symbols-outlined{
        opacity: 0;
    }

    nav ul li {
        padding: 5px;
        list-style: none;
    }
    nav ul li a{
        text-decoration: none;
        padding: 12px;
        font-weight: 500;
        color: #252b42;
        font-size: 20px;
    }
    nav ul li a:active{
         color: #fa4a0c;
        
    }
    nav ul li a:hover{
        color: #fa4a0c;
   }
    
  nav{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    /* **************************   create skip link tab " skip to main"        *********************** */
    .skiptomain{
        position: absolute;
        left: -35px;
        top: auto;
        width: 1px;
        height: 1px;    
        
      }
      .skiptomain:focus{
        position: static;
        width: auto;
        height: auto;
        
    }
    footer img{
        width:auto;
    }
    footer{
        max-width: 400px;
        margin:0 auto;
    }
    


    /* *********************   start grid part       *************************** */

.gridcontainer{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(3,1fr);
    justify-content:center;
    align-items: center;
}
    /* grid-template-areas: 
    "it1 it2"
    "it3 it4" 
    "it5 it6"               ; */

/* .gridimg1{
     grid-area:it1;
    }
.text1{
    grid-area:it2;
}
.text2{
    grid-area: it3;
}
.gridimg2{
    grid-area:it4;
   }
.gridimg3{
    grid-area:it5;
   }
.text3{
    grid-area:it6;
} */

.gridimg1{
    grid-column:1/2;
    grid-row: 1/2;
   }
   .text1{
    grid-column:2/3;
    grid-row:1/2
}
.text2{
    grid-column: 1/2;
    grid-row: 2/3;
}
.gridimg2{
    grid-column:2/3;
    grid-row:2/3;
   }
.gridimg3{
    grid-column:1/2;
    grid-row: 3/4;
   }
.text3{
    grid-column:2/3;
    grid-row: 3/4;
}

















    

}



